# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# Large .txt files
TAXREFv*.txt
# User-specific files ----
README.html
inst/doc
man/
NAMESPACE
"data/raw-data/TAXREFv17.txt" 
